
@media only screen and (min-width: 1280px) {
 /* For wide screens: */
  .burger, .carousel_container{
    display: none;
    }
   
}

@media only screen and (min-width: 1025px) and (max-width: 1279px) {
/* For desktop: */
    .burger, .carousel_container{
        display: none;
    }

    
}

@media only screen and (min-width: 750px) and (max-width: 1024px) {
/* For tablets: */    
/*-------------------GENERAL------------------*/
    nav {
        display: none;
    }
    .bird, .bird_2, .tagcloud, .container{
        display: none;
    } 
    .carousel_container{
        display: flex;
    }
/*-------------------SECTION_1 et section 2------------------*/

    .text_sec1,  .text_sec2{
        width: 58%;
        height: auto;
    }
    .text_sec2{
        margin-top: 25%;
    }
    .text_sec1 h1, .text_sec2 h2{
        font-size: 5vw;
    }
    .text_sec1 h4{
        font-size: 4vw;
    }
    .avatar_me{
        width: 35vw;
    }
    .text_sec1 p, .text_sec2 p{
        font-size: 1.9vw;
      }
      .button{
        width: 5.5vw;
      }

    #text_container_sec2{
        
        flex-direction: column;
        
      }
    #wrapper{
        display: flex;
        margin-bottom: 29vw;
        margin-top: 15%;
    }
    .skill_name{
        margin-left: 4%;
        margin-top: 4%;
    }
    .skillbar_wrapper{
        margin-bottom: 3%;
        margin-top: 4%;
    }


}

@media only screen and (min-width: 330px) and (max-width: 749px) {
/* For mobile: XL, L */   
    
/*-------------------GENERAL------------------*/
     nav {
        display: none;
    }
    .bird, .bird_2, .tagcloud, .container{
        display: none;
    } 
    .carousel_container{
        display: flex;
    }
/*-------------------SECTION_1 et section 2------------------*/

    .text_sec1,  .text_sec2{
        width: 58%;
        height: auto;
    }
    .text_sec2{
        margin-top: 5%;
    }
    .text_sec1 h1, .text_sec2 h2{
        font-size: 5vw;
    }
    .text_sec1 h4{
        font-size: 4vw;
    }
    .avatar_me{
        width: 35vw;
    }
    .text_sec1 p, .text_sec2 p{
        font-size: 1.9vw;
      }
      .button{
        width: 5.5vw;
      }

    #text_container_sec2{ 
        flex-direction: column;
        
      }
    #wrapper{
        display: flex;
        width: 60vw;
        height: auto;
        margin-bottom: 2%;
    }
    .skill_name{
        margin-left: 14%;
        margin-top: 4%;
        font-size: 1.4vw;
    }
    .skillbar_wrapper{
        width: 33.5vw;
        margin-bottom: 3%;
        margin-top: 4%;
    }
    .skill_bar_percent{
        font-size: 1.8vw;
    }


}



@media only screen and (min-width: 260px) and (max-width: 329px) {   
/* For mobile: S */    
/*-------------------GENERAL------------------*/
     nav {
        display: none;
    }
    .bird, .bird_2, .tagcloud, .container{
        display: none;
    } 
    .carousel_container{
        display: flex;
    }
/*-------------------SECTION_1 et section 2------------------*/

    .text_sec1,  .text_sec2{
        width: 58%;
        height: auto;
    }
    .text_sec2{
        margin-top: 5%;
    }
    .text_sec1 h1, .text_sec2 h2{
        font-size: 5vw;
    }
    .text_sec1 h4{
        font-size: 4vw;
    }
    .avatar_me{
        width: 35vw;
    }
    .text_sec1 p, .text_sec2 p{
        font-size: 1.9vw;
      }
      .button{
        width: 5.5vw;
      }

    #text_container_sec2{ 
        flex-direction: column;
        
      }
    #wrapper{
        display: flex;
        width: 60vw;
        height: auto;
        margin-bottom: 2%;
    }
    .skill_name{
        margin-left: 14%;
        margin-top: 4%;
    }
    .skillbar_wrapper{
        width: 33.5vw;
        margin-bottom: 3%;
        margin-top: 4%;
    }
    .skill_bar_percent{
        font-size: 1.2vw;
    }


}




/* For watch: 
@media only screen and (max-width: 259px) {
    
}
attention this is a test
*/