header {
    height: 100vh;
    background-image: url('../imgWWF/tigre.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header article {
    background-color: rgba(0, 0, 0, 0.6);
}

header button {
    width: 30%
}

li {
    list-style-type: none;
    border-radius: 20px;
}

li a {
    color: white;
    font-size: 1.5em;
}

li a:hover {
    color: white;
    text-decoration: none;
}

header li {
    transition: background-color 0.5s ease
}

header li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
}

#hamb li {
    height: 0;
    border: solid 1px white;
    margin: 10px 0;
}


/*** section verte ***/

#btn {
    width: 30%;
    border-radius: 30px
}

#tigre {
    position: absolute!important;
    left: 5%;
    bottom: -30px;
}


/*** section diapo ***/

#diapo {
    height: 80vh;
    background-image: url(../imgWWF/tigre_4.jpg);
    background-size: cover;
    background-position: center center;
}

#diapo>div {
    background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 992px) {
    #tigre {
        position: static!important
    }
    #btn {
        width: 50%;
    }
    #diapo>div {
        height: 100%;
    }
}